@import "~src/variables.scss";
mat-sidenav-container, mat-sidenav-content, mat-sidenav {
  height: 100%;
}
mat-sidenav{
  width: 266px;
}


footer{
  background: $color-verde;
  position: absolute;
  bottom: 0;
  height: 50px;
  width: 100%;
}
